<html>
        <head>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

        </head>
        <!-- <router-outlet>  -->
                 <body>

                <div class="div1 row w-100 h-100" >
                        <div class="w-25 mx-auto my-auto">
                                <p class="headings">login</p>
                                <form>
<p> Username</p>
<input class="form-control" type="text" ngModel #username  name="un" placeholder="Username"  required>


<div *ngIf=" !username.value && submitted;else notrequired" >
                <h2 style="color:brown;font: size 9;font-family: 'Times New Roman', Times, serif;">username required!</h2>
        </div>
        <ng-template #notrequired>
        
        </ng-template>
        <div *ngIf=" username.value.length < 3 && submitted;else notrequired" >
                        <h2 style="color:brown;font: size 5;font-family: 'Times New Roman', Times, serif;">username should be greater than 3 characters</h2>
                </div>
                <ng-template #notrequired>
                
                </ng-template>
    
    

<br>
<p> Password</p>
<input class="form-control" type="password" ngModel #password name="pass" placeholder="Password" required>
<div *ngIf=" !password.value && submitted;else notrequired" >
                <h2 style="color:brown;font: size 9;font-family: 'Times New Roman', Times, serif;">password required!</h2>
        </div>
        <ng-template #notrequired>
        
        </ng-template>

<br>
<br>
<input class="btn" type="button" (click)="submit(username.value,password.value)" value="Submit">
<!-- <div *ngIf="username.value.length > 3 &&  password.value && password.value === 'p' ; else notEligible">
                <h2>good to go!</h2>
             </div>
             

             <ng-template class="template" #notEligible  >
                <b> username and password required</b>
             </ng-template> -->

         <!-- </router-outlet>  -->
</form>
</div>
</div>

</body>

</html>


